---
---


@import "{{ site.theme }}";

.page-header {
  @include large {
    padding: 1rem 6rem;
  }

  @include medium {
    padding: 1rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

table {
    padding: 0.5em 0.5em 0.5em 0.5em;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}
